# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MyPy, Pyre, Pylint
.mypy_cache/
.pyre/
.pytype/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# dotenv environment variable files
.env
.env.*

# Logs
*.log

# Local config
*.local

# SQLite database
*.sqlite3

# PyInstaller
*.spec

